//- includes/head.pug
head
    title D&amp;D Vault - #{title}
    link(rel='stylesheet' href='/css/site.css' type='text/css')
    link(rel="icon" href="/animated_favicon.gif" type="image/gif")

    //- script(src='/js/examples.js')
