//- includes/menu.pug
.header
    h3
        img(src= Config.dndVaultIcon)
        .
            D&amp;D Vault - #{title} #{discordMe?' ('+discordMe.username+'#'+discordMe.discriminator+')':''}
    a(href= '/') Home
    |&nbsp;|&nbsp;
    a(href= '/timezones') Timezones
