//- includes/menu.pug
.header
    h3
        img(src= Config.dndVaultIcon)
        .
            D&amp;D Vault - #{title} #{discordMe?'('+discordMe.username+'#'+discordMe.discriminator+')':''}
    .
        #{guildConfig?'@ '+guildConfig.name:''}
.topnav
    a(href= '/') Support
    a(href= '/timezones') Timezones
    //- a(href= '/events') Events
    a(href= '/calendar') iCalendar ICS
    if guildConfig && guildConfig.botID
        a(href= 'https://top.gg/bot/'+guildConfig.botID+'/vote' target='_blank') Vote For Me on Top.gg!
    if discordMe
        a(href= '/logout') Logout
