//- index.pug
extends layout.pug

block content
    h1 Welcome to the D&amp;D Vault Bot
    p You most likely found me by linking out from a Discord server that I'm a member of.
    p If you have ideas and are interested in making the D&amp;D Vault Bot better, please submit them on&nbsp;
        b Github
        |,&nbsp;
        a(href='https://github.com/jcolson/dndvault-bot/issues/new') here
        |.
    p If you have questions for the developer of D&amp;D Vault Bot, or need help, please join the support&nbsp;
        b Discord
        |,&nbsp;
        a(href='https://discord.gg/ueCkbQgxrF') here
        |.
