//- index.pug
extends layout.pug

block content
    h1 Welcome to the D&amp;D Vault Bot
    h2 Help
    p There are a couple of YouTube videos for help on setting your Timezone as well as help on creating an event. Those are available for your viewing pleasure,&nbsp;
        a(href='/calendar') here
        |.
    p For help with all other available&nbsp;
        b commands
        |,&nbsp;
        a(href='https://github.com/jcolson/dndvault-bot#commands') visit here
        |.
    p If you have questions for the developer of D&amp;D Vault Bot, or need help, please join the support&nbsp;
        b Discord
        |,&nbsp;
        a(href='https://discord.gg/ueCkbQgxrF') here
        |.
    h2 Usage and Contributions
    p You most likely found me by linking out from a Discord server that I'm a member of. If not, and you would like to add me to&nbsp;
        b your Discord server
        |,&nbsp;
        a(href=`${Config.inviteURL}`) follow this invite link.
    p If you have ideas and are interested in making the D&amp;D Vault Bot better, please submit them on&nbsp;
        b Github
        |,&nbsp;
        a(href='https://github.com/jcolson/dndvault-bot/issues/new') here
        |.
