.header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
    height: 130px;
    width: 100%;
    padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 15px;
    background-color: lightblue;
}

.top {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    height: 70px;
    width: 100%;
    padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 15px;
    background-color: lightblue;
}

#timezones-info {
    font-size: small;
    color: blue;
}

#timezones-name {
    background-image: url('/images/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    /* width: 100%; Full-width */
    /* font-size: 16px; Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }

.header-text {
    font-size: small;
}

.header img {
    height: auto;
    width: 50px;
}

.thebody {
    overflow-y: scroll;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 250px;
    top: 270px;
    left:0px;
    right:0px;
    bottom:0px;
    position:absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.thebody td, .thebody th {
    border: 1px solid #ddd;
    padding: 8px;
}

.thebody tr:nth-child(even){background-color: #f2f2f2;}

.thebody tr:hover {background-color: #ddd;}

.thebody th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}